@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 30px;
    font-weight: 400;
    background: #131313;
    color: #fff;
}
body footer{
    font-family: 'Inter', sans-serif;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
ul li, ol li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    outline: none;
    text-decoration: none;
}
a:hover, a:focus{
    outline: none;
    text-decoration: none;
}
p{
    margin: 0;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}
.primary{
    background: linear-gradient(90deg, #5472F6 0%, #DD3EF0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.bg-main{
    background: linear-gradient(45deg, #5472F6 0%, #DD3EF0 100%);
}
.btn-shadow{
    box-shadow: 0px 10px 40px rgba(255, 116, 56, 0.29);
}
.color-gray{
	color: #B6B6BE;
}
.color-green{
	color: #11C623;
}
.mr-12{
	margin-right: 12px;
}